/**
*	 @file specifies all the colors for the UWT v6 theme.
*/

$purple_dark : #32234F;
$purple_dark_rgb : rgb(85, 70, 114);
$purple_light : #564673;

$grey_light : #EDEEF1;
$grey_medium : #CDCDCD;
$grey_dark : #424242;