/**
*	 @file specifies all the colors for the UWT v6 theme.
*/

$purple_light : #846CB2;
$purple_medium: #664B98;
$purple_dark : #4A2F7E;

$grey_light : #EDEEF1;
$grey_medium : #CDCDCD;
$grey_dark : #424242;