@import "base";
//@import "layouts/responsive-sidebars.scss";



@include narrow{
#page{
	#band{
		
	}
	#header{
		#header-left{
		
		}
	}
	#site-menu{
		.menus{
			background-color:darkcyan;
			.menu{
				display:block;
			}
		}
	}
}	
}

@include widest{
#page{
	#band{
		background-color:cyan;
	}
}
}
