/*
 * UWT Global partial
 */
@import "base";
@import "compass/css3";

/* 
 * SPRITES 
 */
/* icons */
$icons-sprite-dimensions:true;
$icons-layout:smart;
@import "icons/*.png";
@include all-icons-sprites;
/* images */
$graphics-sprite-dimensions:true;
$graphics-layout:smart;
@import "graphics/*.png";
@include all-graphics-sprites;

/* COLORS */
@import "_colors.scss";



/* FONTS */
@font-face {
	font-family: 'LindenHillRegular';
	src: url('fonts/lindenhill-regular-webfont.eot');
	src: url('fonts/lindenhill-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/lindenhill-regular-webfont.woff') format('woff'),
	url('fonts/lindenhill-regular-webfont.ttf') format('truetype'),
	url('fonts/lindenhill-regular-webfont.svg#linden_hillregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

	@font-face {
	font-family: 'nexa_xboldregular';
	src: url('fonts/Nexa_XBold-webfont.eot');
	src: url('fonts/Nexa_XBold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Nexa_XBold-webfont.woff') format('woff'),
	url('fonts/Nexa_XBold-webfont.ttf') format('truetype'),
	url('fonts/Nexa_XBold-webfont.svg#nexa_xboldregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

	@font-face {
	font-family: 'nexa_boldregular';
	src: url('fonts/Nexa_Bold-webfont.eot');
	src: url('fonts/Nexa_Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Nexa_Bold-webfont.woff') format('woff'),
	url('fonts/Nexa_Bold-webfont.ttf') format('truetype'),
	url('fonts/Nexa_Bold-webfont.svg#nexa_boldregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


body{
background-color: $grey_light;
}

h1,h2,h3,h4,h5,h6{
font-family:LindenHillRegular;
}

/**
* LINKS
*/
a:link,a:visited{
color:$purple_dark;
}
a:hover{
color:$purple_light;
}

a.active {
	font-weight:bold;
}

/* Flexslider */
.node ol.slides,
.node ul.slides {
  padding-left:0;
}

.node-links ul li a{
background: -moz-linear-gradient(center top , $purple_dark 0%, $purple_light 100%) repeat scroll 0 0 transparent;
color:$grey_light;
border-radius: 3px 11px 3px 11px;
text-shadow:none;
}

/* Keep images from getting too big for their britches...er...containers... */
img {
  max-width:100%;
  height:auto;
}

/*
 * Cleaning up default list styling (padding and list-style-*)
 */
.menu{
	padding-left:0;
	margin-top:0;
	li,li.leaf{
		list-style-type: none;
		list-style-image: none;
		a:link,a:visited{
			text-decoration: none;
		}
	}
}

/*
 * Site Navigation bar
 */

#site-menu{
	width:100%;
	background-color:$purple_light;
	@include single-box-shadow(rgba(black, 0.5), 0, 0, 7px, 3px, inset);
	.menu{
		margin-bottom:0;
		vertical-align: middle;
	}
	ul ul{
		display:none;
		position: absolute;
		top:100%;
	}
	ul ul li{
		float:none;
		position:relative;
		background-color:$purple_light;
	}
	ul ul li a{
		padding:1em;
		color:$grey_light;
		@include transition-property(all);
		@include transition-duration(1s);
	}
	ul ul li a:hover{
		background:$purple_dark;
	}
	ul li:hover > ul{
		display:block;
	}
	
	ul{
		list-style:none;
		position: relative;
		display: inline-table;
	}
	ul:after{
		content: "";
		clear:both;
		display:block;
	}
	// The root level menu item
	ul li{
		float: left;
		list-style: none;
		list-style-image: none;
		@include transition-property(all);
		@include transition-duration(1s);
	}
	ul li:hover{
		background-color:$purple_dark;
	}
	ul li a{
		display:block;
		padding:10px;
		color:$grey_light;
		text-decoration: none;
	}
	li.active-trail{
		@include single-box-shadow(rgba(black, 0.5), 0, 0, 7px, 3px, inset);
		background-color: $grey_light;
	}
	li.active-trail a{
		color:$purple_dark;
	}
	li.active-trail a:hover{
		color:$grey_light;
	}
}


 /*



#site-menu{
	width:100%;
	font-size: 90%;
	background-color:$purple_light;
	@include single-box-shadow(rgba(black, 0.5), 0, 0, 7px, 3px, inset);
	height:auto;
	max-height:4.5em;
	.menu{
		margin-bottom:0;
		li.first{
			border-left:none;
		}
		li{
			height: 100%;
			vertical-align:top;
			max-width: 10em;
			margin-left:-4px;
			background-color:transparent;
			@include transition-property(all);
			@include transition-duration(1s);
			display:table-cell;
			vertical-align: middle;
			border-left:1px solid $grey_dark;
			a{
				padding: 0 1em;
				font-weight: normal;
				display:inline-block;
				text-align: center;
			}
		}
		li:hover{
			background-color:$purple_dark;
		}
		li.active-trail{
			@include single-box-shadow(rgba(black, 0.5), 0, 0, 7px, 3px, inset);
			background-color: $grey_light;
		}
		li.active-trail a{

			color:$purple_dark;
			//padding:0.5em 0.75em;
		}
	}
	a:link,a:visited{
		color:$grey_light;
		text-decoration: none;
	}
	ul ul{
		display:none;
	}
	ul li:hover > ul{
		display:table-cell;
	}
}
/*
/*
 * UW Tacoma upper-left elements (patch home logo)
 */
#home-links a span{
	/*display:block;*/
}

/*
 * Footer
 */
 #footer,#footer-bottom{
 	color:$grey_light;
 	background-color:$grey_dark;
 	font-size: 75%;
 	h2.block-title{
 		font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
 		font-weight: normal;
 		text-transform: uppercase;
 	}
 	a:link,a:visited{
 		color:$grey_light;
 	}
 }
 #footer_top{ 
 	.graphics-uwt_logo_horiz_white{
 		margin-top: 20px;
 	}
 }
 #footer-bottom{
 	background-color:black;
 }
