/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000345}}
#header,
#site-menu .inner,
#main,
#section-identifier,
.region-bottom,
#footer_top,
#footer-middle,
#footer-bottom .inner {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000362}}
#content,
.region-sidebar-first,
.region-sidebar-second,
.region-section-menu {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 20px;
  padding-right: 20px;
}

/*
 * Containers for grid items and flow items.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000352}}
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after,
#footer_top:before,
#footer_top:after,
#footer-middle:before,
#footer-middle:after,
#footer-bottom:before,
#footer-bottom:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000356}}
#header:after,
#main:after,
#footer:after,
#footer_top:after,
#footer-middle:after,
#footer-bottom:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000390}}
#band {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000395}}
#header .block {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003102}}
#header-left {
  background-color: #3e2e5b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003105}}
#patch {
  height: 35px;
  width: 47px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003108}}
#patch span.graphics-uwt_logo_patch_narrow {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003111}}
#patch span.graphics-uwt_logo_patch {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003117}}
#wordmark .graphics-uwt_wordmark_narrow {
  display: block;
  position: absolute;
  top: 12px;
  left: 47px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003123}}
#wordmark .graphics-uwt_wordmark {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003132}}
#global-search .form-item,
#global-search .form-actions,
#global-search .block,
#global-search h2 {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003136}}
#post-header {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003147}}
.graphics-uwt_logo_horiz_white {
  display: none;
}

@media only screen and (min-width: 802px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003159}}
  #band {
    height: 1.5em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003169}}
  #header-center {
    float: left;
    width: 50%;
    margin-left: 7.5%;
    margin-right: -57.5%;
    padding-left: 0;
    padding-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003173}}
  #header-right {
    float: left;
    width: 32.5%;
    margin-left: 60%;
    margin-right: -92.5%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 803px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003183}}
  #band {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003189}}
  .one-sidebar.sidebar-first .region-sidebar-first,
  .one-sidebar.sidebar-first .region-section-menu {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003192}}
  .one-sidebar.sidebar-first #content {
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003200}}
  .section-1336 #post-header {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003204}}
  #header-left {
    float: left;
    width: 7.5%;
    margin-left: 0%;
    margin-right: -7.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003210}}
  #header-center {
    float: left;
    width: 57.5%;
    margin-left: 7.5%;
    margin-right: -65%;
    padding-left: 0;
    padding-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003214}}
  #global-menu {
    float: left;
    width: 80%;
    margin-left: 15%;
    margin-right: -95%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003216}}
  #global-menu .block {
    margin-bottom: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003220}}
  #wordmark {
    padding-top: 30px;
    clear: left;
    float: left;
    width: 75%;
    margin-left: 0%;
    margin-right: -75%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003225}}
  #site_home_link {
    clear: left;
    float: left;
    width: 75%;
    margin-left: 0%;
    margin-right: -75%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003229}}
  #header-right {
    float: left;
    width: 32.5%;
    margin-left: 65%;
    margin-right: -97.5%;
    padding-left: 0;
    padding-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003233}}
  #global-search {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003236}}
  #global-secondary {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003244}}
  #footer #footer_top {
    float: left;
    width: 25%;
    margin-left: 2.5%;
    margin-right: -27.5%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003247}}
  #footer #footer-middle {
    clear: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003254}}
  #footer #footer-middle .region-footer-menus .block:nth-child(1) {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003254}}
  #footer #footer-middle .region-footer-menus .block:nth-child(2) {
    float: left;
    width: 20%;
    margin-left: 20%;
    margin-right: -40%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003254}}
  #footer #footer-middle .region-footer-menus .block:nth-child(3) {
    float: left;
    width: 20%;
    margin-left: 40%;
    margin-right: -60%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003254}}
  #footer #footer-middle .region-footer-menus .block:nth-child(4) {
    float: left;
    width: 20%;
    margin-left: 60%;
    margin-right: -80%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003254}}
  #footer #footer-middle .region-footer-menus .block:nth-child(5) {
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003261}}
  #footer #footer-middle .region-footer-menus .block:nth-child(1) ul {
    padding: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003263}}
  #footer #footer-middle .region-footer-menus .block:nth-child(1) ul li {
    list-style-type: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003268}}
  #footer #footer-middle .region-footer-menus .block:nth-child(1) p, #footer #footer-middle .region-footer-menus .block:nth-child(1) ul {
    padding-left: 50px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003271}}
  #footer #footer-middle .region-footer-menus .block:nth-child(1) p li a:link,
  #footer #footer-middle .region-footer-menus .block:nth-child(1) p li a:visited, #footer #footer-middle .region-footer-menus .block:nth-child(1) ul li a:link,
  #footer #footer-middle .region-footer-menus .block:nth-child(1) ul li a:visited {
    text-decoration: underline;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003275}}
  #footer #footer-middle .region-footer-menus .block:nth-child(1) p {
    margin-top: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003283}}
  #footer-bottom {
    clear: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003286}}
  #footer-bottom .left {
    float: left;
    width: 40%;
    margin-left: 0%;
    margin-right: -40%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003288}}
  #footer-bottom .left .inner {
    padding-left: 40px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003292}}
  #footer-bottom .right {
    float: left;
    width: 20%;
    margin-left: 70%;
    margin-right: -90%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003294}}
  #footer-bottom .right #shib_login_url {
    display: inline;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jamesini\/Sites\/uwtv6zen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003296}}
  #footer-bottom .right #shib_login_url a:link, #footer-bottom .right #shib_login_url a:visited {
    font-weight: normal;
  }
}
