/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";
/* COLORS */
@import "_colors";

$zen-column-count:  40;
$zen-gutter-width:  10px;


// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;


// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;


/*
 * Center the page.
 */
#header,
#site-menu .inner,
#main,
.region-bottom,
#footer_top,
#footer_middle,
#footer-bottom .inner {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
// See the note about $zen-auto-include-item-base above.


#content, 
.region-sidebar-first,
.region-sidebar-second{
  @include zen-grid-item-base();
}

/*
 * Containers for grid items and flow items.
 */

#header,
#main,
#footer,
#footer_top,
#footer_middle,
#footer-bottom{
  @include zen-grid-container();
}

#band{
  width:100%;
  height:35px;
  position:absolute;
  top:0;
  left:0;
  z-index: -1;
  background-color:black;
}




//
// Mobile first?
//

//
// Below is 'laid out' for desktop
//
.one-sidebar.sidebar-first{
  .region-sidebar-first{
    @include zen-grid-item(6,1);
  }
  #content{
    @include zen-grid-item(34,7);
  }

}
  #header {  
    //background-color: #aaa;
    a span{
      display:block;
    }
  }
  #header-left{
    @include zen-grid-item(3,1);
    //background-color:#ccffcc;
    #patch {
      //background-color:#ccc;
    }
  }

  #header-center{
    @include zen-grid-item(27,4);
    @include zen-nested-container;
  }
  #global-menu{
    @include zen-grid-item(30,10);
    //background-color:#888;
    .block{
      margin-bottom: 0; // Not totally sure why this is needed, but it is.
    }
  }
  #logo_text {
    padding-top:30px;
    @include zen-clear();
    @include zen-grid-item(30,1);
    //background-color:#eee;
  }
  #site_home_link {
    @include zen-clear();
    @include zen-grid-item(30,1);
    //background-color:#444;
  }
  #header-right{
    @include zen-grid-item(10,31);
    @include zen-nested-container;


  }
  #global-search{
    padding-top:15px;
    @include zen-grid-item(40,1);
    //background-color: #313131;
    input[type="text"]{
      height:35px;
      width:250px;
      border:2px solid $grey_medium;
      @include border-radius(5px);
    }
  }
  #global-secondary{
    @include zen-clear();
    @include zen-grid-item(40,1);
  }



  #footer{
    .region-footer-menus{
      $zen-column-count:5;
      .block {
        @for $i from 1 through 5 {
          &:nth-child( #{$i}) {
            @include zen-grid-item(1, $i);
          }
        }
      }
      .block:nth-child(1) p{
        padding-left:40px;
      }
    }
  }
  #footer-bottom{
    $zen-column-count:10;
    @include zen-clear();
    .left {
      @include zen-grid-item(4,1);
      .inner{
        padding-left:40px;
      }
    }
    .right{
      @include zen-grid-item(2,8);
      #shib_login_url{
        display:inline;
        a:link,a:visited{
          font-weight: normal;
        }
      }
    }
  }



/** Width max 1025px */
@media all AND (max-width:1025px){
#global-menu{
    //@include zen-grid-item(29,11);
    @include zen-grid-item(31,3);
  }

}

/** Width max 993px */
@media all AND (max-width:993px){
#global-menu{
    @include zen-grid-item(34,2);
  }
  #logo_text {
    padding-top:30px;
    @include zen-grid-item(30,2);
  }
  #site_home_link {
    @include zen-grid-item(30,2);
  }
}
